.btn {
  background-color: $spot;
  border-radius: 5px;
  border:none;
  color:$baseColor!important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  text-decoration: none;
  padding: 0 12px;
  &:hover {
	background-color: $spot-l;
  }
}

@media (min-width: 768px) {
  .btn {
    height: 56px;
    font-size: 18px;
    line-height: 21px;
  }
}